<!DOCTYPE html>
<html lang="en">
<head>
  <title>Form</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

{{> navbar}}

<div class="jumbotron text-center">
  <h1>Search Page</h1>
  <p>For searching for places of Interest</p>
</div>

<div class="container text-center">
    <div class="col-sm-12">
    <form if="form" action="/" method="post">
      <div class="form-group">
        <label for="addr">Enter Address: </label>
        <input id="addr" name="address" class="form-control" type="text" placeholder="Enter address..."/>
        <p></p>
        <input type="submit" value="Send" formaction="/getplaces" />
  </div>
</form>
</div>
</div>

</body>
</html>
